body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../assets/main-art.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    width: 30vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.link {
    margin-top: 20px;
    width: 100%;
}

.img-container img {
    width: 200px;
}

a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 765px) {
    .container {
        width: 35vw;
    }

    a {
        padding: 8px;
    }
}

@media only screen and (max-width: 579px) {
    .container {
        width: 40vw;
    }

    .img-container img {
        width: 200px;
    }

    a {
        font-size: 12px;
    }
    
}

@media only screen and (max-width: 435px) {
    .container {
        width: 60vw;
    }
}
